name: Interactive Tool Workflow

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      short_sha: ${{ steps.getversion.outputs.version }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Add SHORT_SHA env property with HEAD
        id: getversion
        run: echo "version=api-${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven

      - name: Build with Maven
        run: mvn clean package -Dmaven.javadoc.skip=true -Dmaven.test.skip=true

      - name: List Built Generated Components
        run: |
          pwd
          ls -lrt
          ls -lrt target

      
